@tailwind base;
@tailwind components;
@tailwind utilities;


/* banner.js  */
.background-image {
    background-image: url('../assets/banner/banner.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 370px;
}

/* banner.js  */